.checkout {
  margin-top: 80px;
  padding-bottom: 30px;
  background-color: #f9fafb;
}
.from-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 15px;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
}
.por {
  position: relative;
}
.information {
  width: 60%;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.information h2 {
  color: #374151;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 5px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.aic {
  align-items: center;
}
.text,
.label {
  display: block;
  font-size: 14px;
  color: #6b7280;
  padding-bottom: 5px;
}
.input {
  padding: 15px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  border: 1px solid #ced4e1;
  color: #6b7280;
}

.input:focus {
  border: 1px solid #3bb77e;
}
.select:focus {
  outline: 0;
  border: 1px solid #3bb77e;
}
.select {
  padding: 10px;
  border: 1px solid #ced4e1;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #6b7280;
  cursor: pointer;
}
.select option {
  text-align: left;
  font-weight: 600;
  color: #6b7280;
}

.checkbox {
  margin-left: 20px;
  color: #6b7280;
  font-weight: 500;
  display: flex;
  align-items: center;
}
h2.shipping {
  font-size: 14px;
  font-weight: 600;
}
.checkbox label {
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}
.s-input-wrapper {
  justify-content: space-between;
  align-items: center;
}
.border {
  border: 1px solid #ced4e1;
  border-radius: 10px;
}
.s-icon {
  font-size: 30px;
  color: #6b7280;
  padding: 10px;
}

.w-10 {
  width: 10%;
}
.text-center {
  text-align: center;
}
.s-content {
  margin-left: 10px;
  color: #6b7280;
}
.s-content .s-text {
  font-size: 12px;
}
.pay {
  font-size: 16px;
}
.s-label {
  width: 100%;
  cursor: pointer;
  align-items: center;
  position: relative;
}
#express-d,
input[type="radio"] {
  display: none;
}
.s-label::after {
  position: absolute;
  content: "";
  right: 15px;
  height: 15px;
  border-radius: 50%;
  width: 15px;
  border: 1px solid #ced4e1;
}
.s-label::before {
  position: absolute;
  content: "";
  right: 15px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transform: translateX(-5%);
  background-color: #188553;
  opacity: 0;
}
input[type="radio"]:checked ~ .s-label::before {
  opacity: 1;
}
input[type="radio"]:checked ~ .s-label::after {
  border: 0;
}
.back-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #374151;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ced4e1;
  background-color: #eef2ff;
}
.fa-arrow-turn-up {
  transform: rotate(-90deg);
  margin-right: 5px;
  font-size: 16px;
}
.confirm-btn {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 5px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #3bb77e;
  transition: all 0.3s;
}
.confirm-btn:hover {
  background-color: #188553;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 1px solid #ced4e1;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}
input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
}
input[type="checkbox"]:checked {
  background-color: #188553;
}
.cart-checkout {
  width: 40%;
  border: 1px solid #ced4e1;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
}
.summary {
  color: #374151;
  font-weight: 600;
}
.c-shopping-cart {
  overflow-x: hidden;
  overflow-y: scroll;
  /* height: 350px; */
  padding-top: 15px;
}
.c-shopping-cart::-webkit-scrollbar {
  display: none;
}
.c-shopping-cart {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.border-5 {
  border: 1px solid #ced4e1;
  border-radius: 5px;
}
.coupon-area {
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-left: 0;
}
.cop-input {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  /* width: 80%; */
}
.cop-input:focus {
  border: 1px solid #3bb77e;
  outline: none;
}
.apply {
  padding: 10px 25px;
  background-color: #fff;
  color: #1b1f27;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.apply:hover {
  color: #fff;
  background-color: #188553;
}
.ml-auto {
  margin-left: auto;
}
.sub-calculate {
  border-bottom: 1px solid #ced4e1;
}
.sub-text {
  font-size: 14px;
  font-weight: 600;
  color: #6b7280;
  padding: 5px 0;
}
.color-orange {
  color: #fb923c;
}
.total {
  margin-top: 10px;
}
